{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

    <div class="list-group-item">
        <br>
        <p class="text-center m-4 mt-10 mb-10 ">
            Welcome to Leader Board Site thing, I made it cause using anything else kinda hurt my 
            brain so yeah, feel free to create and account or just clone the repo any is fine i guess 
            the API docs are also on the repo so you can check those out. 

            I will make a unity sdk for this soon so you don't have to write the code yourself but for now 
            just make a request to the routes and boom you have leader boards in your game. Really simple i think
            but what do i know. Any ways buy and hope you like the site. Infact i think i should say welcome to the site 
        </p>
        <br>
    </div>
    <h3 class="text-center"><b>ABOUT ME</b></h3>
   <div class="container d-flex align-items-center justify-content-center text-center random-idea-dev p-4 list-group-item">

   
        <p class=" dropped-text">Hello, I'm waza the creator of this platform. 
            I also made <b><a href = "https://ide-aly.herokuapp.com/">Ide-aly</a></b> which is a game idea sharing site
        </p>

        <div class="container p-4 pb-0">
            <h3 class='dropped-text'>contact info</h3>
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a class="btn btn-outline-dark btn-floating m-1 dropped-text" href="https://www.youtube.com/channel/UCRkIudlwTZm8PYuPTmfRWpA" role="button"
                ><i class="bi bi-youtube"></i
              ></a>
        
              <!-- Twitter -->
              <a class="btn btn-outline-dark btn-floating m-1 dropped-text" href="https://twitter.com/Dev_Waza" role="button"
                ><i class="bi bi-twitter"></i
              ></a>
        
        
              <!-- Instagram -->
              <a class="btn btn-outline-dark btn-floating m-1 dropped-text" href="https://discord.gg/tADWW634DE" role="button"
                ><i class="bi bi-discord"></i></a>
        
              <!-- Linkedin -->
              <a class="btn btn-outline-dark btn-floating m-1 dropped-text" href="https://www.linkedin.com/in/waza-banda-a0aa451b4/" role="button"
                ><i class="bi bi-linkedin"></i
              ></a>
             <!--Gmail-->
             <a class="btn btn-outline-dark btn-floating m-1 dropped-text " href="mailto:1wazabanda@gmail.com?subject=subject text"><i class="bi bi-envelope"></i></a> 
    
             <!--GitHyb-->
             <a class="btn btn-outline-dark btn-floating m-1  dropped-text" href="https://github.com/wazabanda"><i class="bi bi-github"></i></a> 
    
            </section>
            <!-- Section: Social media -->
          </div>

        <!-- !!!! Ignore this error please  -->
        
    </div>
{% endblock %}