{% extends "main/base.html" %}

{% block title %}
Your Boards
{% endblock %}

{% block body %}
    <ul class="list-group ">
    {% for board in boards %}

            <li class="list-group-item ">
                <h5>{{board.name}}</h5>
                <br>
                <h6>Posted by {{board.ownerName}}</h6>
                <br>

                <a href="../viewBoards/{{board.id}}/" class="btn btn-success">view</a>
                <a class="btn btn-danger" href="/delete/{{board.id}}">Delete</a>
            </li>

    {% endfor %}
    </ul>
{% endblock %}